<nav class="navbar navbar-expand-md bg-lite">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-success"><h3>Quiz</h3></a>
    </li>
    
  </ul>
  

  <ul class="nav ml-auto">
    <li class="nav-item">
        <div class="dropdown dropleft" appDropdown>
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
             
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #00000055;">
              <button (click)="editprofile.show()" class="dropdown-item text-success" href="#">Edit Profile</button>
              <button (click)="resetPassword.show()" class="dropdown-item text-success" href="#">Reset Password</button>
              <button class="dropdown-item text-success" href="#">Log Out</button>
            </div>
          </div>
    </li>
  </ul> 
  <!-- Example single danger button -->
</nav>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-success">Hello {{ name }} </h1>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card elementbg">
            <div class="card-header text-success">
              <h3>Your Score is <i>{{ score }}</i></h3>
            </div>
            <div class="card-body elementbg text-center">
              <a [routerLink]="['/player/quiz']" class="btn btn-success btn-lg p-3">Let's Quiz</a>
            </div>
          </div>
    </div>
  </div>
</div>


<!--  MODALS -->


<div bsModal #editprofile="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}"
     role="dialog" aria-labelledby="dialog-sizes-name1" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color:#bbddbbdd;">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Edit Profile</h4>
        
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control formelementbg" placeholder="First Name">
          </div>
          <div>
            <label>Last Name</label>
            <input type="text" class="form-control formelementbg" placeholder="Last Name">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success">Update Profile</button>
        <button type="button" class="btn btn-outline-success pull-right" (click)="editprofile.hide()" >Cancel</button>
      </div>
    </div>
  </div>
</div>


<!-- RESET PASSWORD MODAL -->


<div bsModal #resetPassword="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}"
     role="dialog" aria-labelledby="dialog-sizes-name1" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color:#bbddbbdd;">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Reset Password</h4>
        
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control formelementbg" placeholder="New Password">
          </div>
          <div>
            <label>Confirm New Password</label>
            <input type="password" class="form-control formelementbg" placeholder="Confirm New Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success">Reset Password</button>
        <button type="button" class="btn btn-outline-success pull-right" (click)="resetPassword.hide()" >Cancel</button>
      </div>
    </div>
  </div>
</div>

